* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(24, 24, 113);
  color: white;
}

.header {
  background: white;
  display: flex;
  justify-content: space-between;
}

.logo {
  max-height: 50px;
}

 .menu {
  display: flex;
 }

 a {
   text-decoration: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: darkslateblue;
   padding: 1em;
   border-radius: 20px;
   border: 1px solid slateblue;
   background-color: white;
 }

 a:hover {
   transition: background-color 0.3s ease-in-out;
   background-color: salmon;
 }