

body {
  background: salmon;
  color: #333;
  font-size: 14px;

  font-family: 'Libre Baskerville', 'Arial', sans-serif;
}

#subtitel {
  background: black;
}

h1,
h2 {
  font-family: 'Libre Baskerville';
  font-weight: 300;
  margin: 0.5em;
}

h1 {
  border: 10px dashed skyblue;
  margin: 1em;
  padding: 1em;
  background: lightcoral;
}

h1:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* h1:before {
  content: "~";
}
h1:after{
  content:"~";
} */

div.container {
  margin: auto;
  width: 80%;
}


a:hover{
  transition: box-shadow 1s ease-in-out;
  background: black;
  box-shadow: 10px 10px 10px black;
}

nav {
  position: fixed;
  background: rgba(255, 255, 255, 0.8)
}

nav li {
  /* background: url('../img/nav-bg.png'); */
  padding: 1em;
  display: inline;
}

nav li:first-child {
  /* background: url('../img/nav-bg-left.png') */
}